{% extends 'template.html' %}

{% block title %}
Key financial market indicators
{% endblock %}

{% block body %}
<H2>Accounting prices for precious metals</H2><br>
<h4>data for the last day of trading</h4>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Metal name</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for el in data_list[-4:] %}
    <tr>
      <td>{{ el.name }}</td>
      <td>{{ el.price }}</td>
      <td>{{ el.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table><br>
<h4>data for the current month</h4>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Metal name</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>

  <tbody>
  {% for el in data_list %}
  <tr>
    <td>{{ el.name }}</td>
    <td>{{ el.price }}</td>
    <td>{{ el.date }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
